* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.promo {
  height: 800px;
  background: url("../img/bg.png") center center / cover no-repeat;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
}

.title {
  color: #f9bf3b;
  font-family: "Roboto-Black";
  font-size: 41px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin-top: 53px;
}

.simple .title_big {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 21px;
  margin-bottom: 30px;
}

.promo .promo_text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_text_free {
  color: #f9bf3b;
  font-family: "Roboto - Bold";
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.promo .promo_btn {
  display: block;
  margin: 0 auto;
  width: 313px;
  height: 72px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 73px;
  cursor: pointer;
}

.more {
  margin-top: 73px;
}

.more .more_text {
  color: #ffffff;
  font-family: "Roboto - Thin";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
  cursor: pointer;
}
